/*ColorDocs
  Focus Pink: #DC9393
  Darkest: #0e0d1a;
  White: #efeff3;
  tooltip: #514D69;
  light-bar: #76748C;
  hover-text: #181629;
*/

button {
  border: none;
  cursor: pointer;
  outline: none;
}

.loader {
  position: absolute;
  display: none;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 3;
  background-color: #0e0d1a;
  opacity: .59;
}

.load-bar {
  background-color: #efeff3;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 7px;
  z-index: 4;
  box-shadow: 0px 10px 20px 4px rgba(14,13,26,0.12);
  transform: translateX(-100%);
  transition: transform 850ms cubic-bezier(.01,.33,.44,.98);
}

.load-bar.gotime {
  transform: translateX(0);
}

*, *:after, *:before {
	box-sizing: border-box;
}

::selection {
  background: #efeff3;
  color: #0e0d1a;
}

body {
  background-color: #524f6c;
  background-image: linear-gradient(-143deg, #524f6c 7%, #34324A 100%);
  position: relative;
  font-family: 'Work Sans', sans-serif;
}

.top {
  height: 33.33vh;
  background-color: transparent;
  overflow: hidden;
}

#header-text {
  font-size: 40px;
  padding: 50px 10% 25px 10%;
  width: 100%;
  font-weight: 800;
  text-align: center;
  color: #0e0d1a;
  background-color: transparent;
  outline: none;
  border: none;
  resize: none;
}

#header-text:hover {
  color: #131223;
}

#header-text:focus {
  color: #efeff3;
}

.lists-container-housing {
  width: 100%;
  overflow-x: auto;
}

.lists-container {
  height: 66.67vh;
  text-align: center;
  width: 100%;
  position: relative;
}

.list {
  position: relative;
  padding-top: 40px;
  margin: 0 25px;
  text-align: left;
  background-color: rgba(35, 34, 51, .4);
  display: inline-block;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  min-width: 500px;
  max-width: 50%;
  overflow: hidden;
  height: 100%;
  transition: box-shadow 340ms ease;
}

.list-title {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: #0e0d1a;
  font-size: 13px;
  padding: 7px 20px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  background-color: #76748C;
}

.title-field {
  color: #0e0d1a;
  text-transform: uppercase;
  outline: none;
  font-size: 13px;
  font-weight: 600;
  max-width: 400px;
}

.title-field:hover {
  color: #28263e;
}

.title-field:focus {
  color: #efeff3;
}

.goofwrap {
  display: inline-block;
}

.count-holster {
  display: inline-flex;
  flex-direction: column;
  height: 20px;
  padding-top: 3px;
  /*min-width: 10px;*/
  overflow: hidden;
}
.count {
  color: white;
  font-weight: 800;
  margin: 0 3px;
  transform: translateY(0);
  transition: transform 200ms cubic-bezier(0.49, 0.07, 0.5, 1.71);
  display: inline-block;
}

.exit-up {
  transform: translateY(-18px);
}

.below {
  transform: translateY(22px);
}

.links-list {
  overflow-x: hidden;
  height: 100%;
  overflow-y: auto;
}

.favicon {
  margin-right: 7px;
  position: relative;
  transform: translateY(3px);
  -webkit-filter: grayscale(80%) contrast(1.4) hue-rotate(55deg);
  opacity: .7;
}

.lists-container .link {
  text-decoration: none;
  color: rgba(255, 255, 255, .88);
  display: block;
  position: relative;
  z-index: 1;
  padding: 9px 25px 11px 25px;
  margin-top: 2px;
  background-color: transparent;
  cursor: pointer;
}

.lists-container .link:hover {
  background-color: #0e0d1a;
  z-index: 2;
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
}

.link:hover .favicon {
  -webkit-filter: invert(1) grayscale(1);
}

.lists-container .link.no-hover-effects:hover .deleter  {
  transform: translateX(100%);
}

/*in motion*/
.gu-mirror {
  box-shadow: 0px 13px 53px 4px rgba(14,13,26,.7);
  cursor: -webkit-grabbing !important;
  font-family: 'Work Sans', sans-serif;
  background-color: #0e0d1a;
  color: rgba(255, 255, 255, 1);
  text-decoration: none !important;
  padding: 10px 25px;
  opacity: 1;
}

.gu-mirror .favicon {
  -webkit-filter: invert(1) grayscale(1);
}

/*ghost*/
.gu-transit {
  box-shadow: none;
  opacity: 1;
  background-color: #2E2C40 !important;
  color: transparent !important;
  width: 100%;
}

.gu-transit .favicon {
  opacity: 0;
}

.deleter {
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 35px;
  text-align: center;
  padding-top: 6px;
  height: 100%;
  background-color: #252437;
  color: white;
  font-size: 25px;
  font-weigth: 600;
  transition:
    transform 100ms ease,
    opacity 135ms linear;
  transform: translateX(100%);
}

.spinner {
  height: 90px;
  width: 90px;
  margin: -45px;
  position: absolute;
  top: 50%;
  left: 50%;
  animation: rotation .6s infinite linear;
  border-left: 6px solid #3d3a54;
  border-right: 6px solid #3d3a54;
  border-bottom: 6px solid #3d3a54;
  border-top: 6px solid #76748C;
  border-radius: 50%;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

.deleter:hover {
  opacity: 1;
  color: #0e0d1a;
  background-color: #efeff3;
}

.lists-container .link:hover .deleter {
  opacity: .8;
  transform: translateX(0);
}

.lists-container .link:hover .tooltip {
  opacity: 1;
  transform: translate(-50%, 0);
}

.lists-container .link:focus .tooltip {
  opacity: 0;
  transform: translate(-50%, -7px);
}

.tooltip {
  opacity: 0;
  z-index: 3;
  position: absolute;
  bottom: -87px;
  left: 50%;
  transform: translate(-50%, -7px);
  white-space: nowrap;
  background-color: #514D69;
  pointer-events: none;
  border-radius: 3px;
  box-shadow: 0px 7px 53px 0px rgba(14,13,26,0.7);
  transition: transform 350ms cubic-bezier(0.51, 0.55, 0.17, 1.55);
}

.tooltip::before {
  content: ' ';
  width: 0;
  height: 0;
  position: absolute;
  top: -7px;
  left: 50%;
  transform:
    translateX(-50%)
    rotate(180deg);
  border-top: 7px solid #514D69;
  border-left: 7px dashed transparent;
  border-right: 7px dashed transparent;
  border-bottom: 0;
  display: block;
  overflow: hidden;
}

.tooltip-item-wrap {
  overflow: hidden;
}

.tooltip-item-wrap:nth-child(1) {
  border-top-left-radius: 3px;
  margin-bottom: -10px;
}

.tooltip-item-wrap:nth-child(2) {
  border-bottom-left-radius: 3px;
  margin-top: -10px;
}

.tooltip-title {
  background-color: #413D57;
  width: 63px;
  display: inline-block;
  color: #d9d8de;
  font-weight: 600;
  font-size: 12px;
  text-align: right;
  padding: 15px;
  padding-left: 0px;
  padding-right: 8px;
}

.tooltip-data {
  display: inline-block;
  color: #white;
  font-weight: 400;
  font-size: 12px;
  padding: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

.lip {
  opacity: .3;
  margin-left: 2px;
}

.navbar {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  height: 41px;
  background-color: #56536b;
  z-index: 2;
  padding-top: 8px;
  text-align: center;
}

.navbar button {
  text-decoration: none;
  color: #efeff3;
  padding: 0 7px 3px 7px;
  line-height: 1;
  font-weight: 600;
  transition: all 25ms linear;
}

button.primary {
  position: absolute;
  background-color: #76748C;
  font-size: 23px;
  border-radius: 3px;
}

button.add-list {
  right: 20px;
}

button.hi {
  left: 20px;
  font-size: 17px;
  padding: 5px 9px 3px 9px;
}

button.nav-btn {
  background-color: transparent;
  text-transform: uppercase;
  padding: 5px 11px 5px 9px;
  border-right: 2px solid #76748C;
}

button.nav-btn:last-child {
  padding-right: 9px;
  border-right: none;
}

.nav-btn:hover {
  background-color: #76748C;
}

.nav-btns {
  font-size: 0;
  display: inline-block;
  border: 2px solid #76748C;
  border-radius: 3px;
}

button.primary:hover {
  background-color: #0e0d1a;
}

.lasso-container {
  width: 97%;
  max-width: 1250px;
  position: relative;
  margin: 0 auto;
}

.modal {
  position: absolute;
  top: 17%;
  right: 10%;
  left: 10%;
  bottom: 17%;
  z-index: 40;
  margin: 0 auto;
  min-height: 200px;
  max-width: 1000px;
  opacity: 0.95;
  background: #76738D;
  box-shadow: 0px 21px 60px 9px rgba(14,13,26,0.77);
  text-align: center;
  color: #efeff3;
}

h1 {
  font-weight: 800;
  font-size: 100px;
  margin-top: -59px;
  margin-left: 50px;
  text-align: left;
}

.v-center {
  position: absolute;
  top: 50%;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  font-size: 36px;
  line-height: 1.5;
}

.scrim {
  background: rgba(17,14,34,0.35);
  position: absolute;
  z-index: 20;
  top:0;
  bottom:0;
  left:0;
  right:0;
}